@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "components/navbar";
@import "components/hero";
@import "components/sign-in";
@import "components/profile-page";
$font-family-sans-serif: "Plus Jakarta Sans", sans-serif;

.extra-margin {
  margin-top: 80px;
}

// service section start
.service-section-headings {
  margin: 170px 0 150px 0;
  text-align: center;
  .service-heading h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
  }
  .service-sub-heading h3 {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }
}
.service-section-wrapper {
  text-transform: capitalize;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // gap: 15px;

  .service-item {
    padding: 30px 25px;
    text-align: center;
    border: 0.5px solid #e4e4e7;
    .item-logo {
      margin-bottom: 25px;
    }
    .item-heading {
      margin: 20px 0;
      h3 {
        color: #18181b;
        font-size: 21px;
        font-weight: 700;
        line-height: 28px;
      }
    }
    .item-text {
      margin-top: 25px;
      p {
        color: #52525b;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
      }
    }

    &:nth-child(-n + 3) {
      border-top: none;
      padding-bottom: 45px;
    }
    // Remove the bottom border for the last row (cards 4, 5, 6)
    &:nth-child(n + 4) {
      border-bottom: none;
      padding-top: 45px;
    }

    // Remove the left border for the first column (cards 1 and 4)
    &:nth-child(3n + 1) {
      border-left: none;
    }

    // Remove the right border for the last column (cards 3 and 6)
    &:nth-child(3n) {
      border-right: none;
    }
  }
}
// service section styling end

// project build section styling start
.project-build-section {
  margin-top: 150px;
  padding: 0 32px;
  .project-build-heading-area {
    margin-bottom: 50px;
    width: 770px;
    .pbh-sm-text {
      a {
        text-decoration: none;
        p {
          color: #6941c6;
          font-family: "Inter";
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          margin: 0;
          padding: 0;
        }
      }
    }
    .pb-heading {
      h2 {
        font-family: "Inter";
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        margin-bottom: 16px;
      }
    }
    .pbh-para {
      p {
        color: #667085;
        font-family: "Inter";
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
      }
    }
  }
  .project-build-content-area {
    display: flex;
    gap: 50px;
    .pbc-text-area {
      width: 100%;
      flex: 1;
      .pbc-text-item-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
        column-gap: 25px;
        text-align: center;
        margin-top: 48px;
        .pbc-text-item {
          .pbc-text-heading {
            h2 {
              color: #7f56d9;
              font-family: "Inter";
              font-size: 60px;
              font-weight: 600;
              line-height: 72px;
            }
          }
          .pbc-text-sub-heading {
            h3 {
              color: #101828;
              font-family: "Inter";
              font-size: 18px;
              font-weight: 500;
              line-height: 28px;
            }
          }
          .pbc-text-para {
            p {
              color: #667085;
              font-family: "Inter";
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
            }
          }
        }
      }
    }
    .pbc-img-area {
      flex: 1;
      img {
        border-radius: 3px;
      }
    }
  }
}
// project build section styling end
// footer section styling start
// footer section styling end



// bootstrap sass including
@import "../node_modules/bootstrap/scss/bootstrap";
